<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager --><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5RCQCP3');</script><!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.css">
    <title>Pi Development</title>
    <meta name="description" content="Front-End Developer, Web Designer, and digital marketing analyst. I'm Mariano, and this is my developer portfolio that you can check out"/>
    <link rel="icon" type="image/x-icon" href="/img/pi.ico">
    <link rel="canonical" href="https://pidevelopment.web.app/"/>
    <script src="https://kit.fontawesome.com/70dc13288a.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="topnav" id="Topnav">
        <a href="index.html" class="active">Pi <i>Development</i></a>
        <a href="contact.html">Contact</a>
        <a href="portfolio.html">Portfolio</a>
        <a href="about.html">About</a>   
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      
      <script>
      function myFunction() {
        var x = document.getElementById("Topnav");
        if (x.className === "topnav") {
          x.className += " responsive";
        } else {
          x.className = "topnav";
        }
      }
      </script>
    <section class="me" id="about">
          
        <div class="pres">
          <h2>Pi Development: Tu Socio de Confianza en el Desarrollo Web</h2>
          
          <p><b>Pi Development</b> es tu socio de confianza en el desarrollo web en Argentina. 
            Con más de tres años de experiencia, nuestro equipo de desarrolladores web altamente 
            calificados se esfuerza por liderar la industria. Nos especializamos en la creación de sitios web atractivos, 
            funcionales y optimizados para los motores de búsqueda.</p>
            
           <p>Comprometidos a ofrecer soluciones líderes en el mercado, manteniendo tu sitio actualizado y seguro en todo momento.</p>
           </div>

          
          </section>


          <section class="footer">
            <div class="address details">
              <i class="fa-solid fa-map-location-dot"></i>
                <div class="topic"><h4>Location</h4></div>
                <div class="text-one"><h5>Argentina - Buenos Aires</h5></div>
                <div class="text-two">CABA</div>
            </div>
            <div class="phone details">
                <i class="fas fa-phone-alt"></i>
                <div class="topic"><h4>Phone</h4></div>
                <div class="text-two"><h5><a href="//api.whatsapp.com/send?phone=5491127295714">+54 911 2729 5714</a></h5></div>
            </div>
            <div class="email details">
              <i class="fas fa-envelope"></i>
                <div class="topic"><h4>Email</h4></div>
                <div class="text-one"><h5><a href="mailto:mariano13age@gmail.com">@gmail.com</a></h5></div>
            </div>
        </section>
        <script src="main.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
</body>
</html>