{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Google Tag Manager --><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5RCQCP3');</script><!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Creamos estrategias digitales que impactan, atraen y convierten.">
    <link rel="canonical" href="https://pidevelopment.web.app">
    <meta name="author" content="PIDev Founder: Mariano Tami">
    <meta name="keywords" content="estrategias digitales, marketing digital, soluciones digitales, PI Development">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Soluciones digitales personalizadas para tu empresa">
    <meta property="og:description" content="Creamos estrategias digitales que impactan, atraen y convierten.">
    <meta property="og:image" content="/img/pi.ico">
    <meta property="og:url" content="https://pidevelopment.web.app">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="PI Development">
    <meta property="og:locale" content="es_AR">
    <link rel="stylesheet" type="text/css" href="{% static 'web/index.css' %}">
    <link rel="icon" type="image/x-icon" href="/img/pi.ico">
    <script src="https://kit.fontawesome.com/70dc13288a.js" crossorigin="anonymous"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8341459305954792" crossorigin="anonymous"></script>
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/9b7863877e7b1572545a6deb3/9fc65f4503e80b0f5f89ce76d.js");</script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Soluciones digitales personalizadas para tu empresa</title>
</head>
<body>
<!-- Google Tag Manager (noscript) --><noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5RCQCP3" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><!-- End Google Tag Manager (noscript) -->
<div id="progress"></div>
  <div class="topnav" id="Topnav">
    <ul>
      <li class="logo"><a href="#"><img src="/img/piw.png" alt=""> Development</a></li>
      <li><a href="#">Marketing</a></li>
      <li><a href="#">Desarrollo</a></li>
      <li><a href="#">Nosotros</a></li>
      <li class="icon"><a href="javascript:void(0);"  onclick="myFunction()">
        <i class="fa fa-bars"></i></a></li>
    </ul>
  </div>
    <script>
function myFunction() {
  var x = document.getElementById("Topnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
const navbar = document.getElementById('Topnav');
window.addEventListener('scroll', () => {
  if (window.scrollY > 100) {
    navbar.classList.add('dark');
  } else {
    navbar.classList.remove('dark');
  }
});
</script>
      <section class="showcase" id="up">
        <video class="port" src="/img/deep2.mp4" playsinline muted autoplay loop></video>
          <div class="text">
            <h1><span class="title"></span></h1>
            <h2>Soluciones digitales personalizadas que mejoran tu presencia en línea</h2>
        </div>
        <script>
const text = document.querySelector(".title");
const phrases = ["Desarrollo Web","Diseño Web","Marketing Analitico"];
let index = 0;
const textLoad = () => {
    text.classList.add("fade-out");
    setTimeout(() => {
        text.textContent = phrases[index];
        text.classList.remove("fade-out"); 
        index = (index + 1) % phrases.length;
    }, 500);
}
textLoad();
setInterval(textLoad, 3000);
        </script>
        <ul class="social">
          <li><a href="https://github.com/Marianoyv" target="_blank"><i class="fa-brands fa-github"></i></a></li>
          <li><a href="https://www.linkedin.com/company/pi-d" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a></li>
          <li><a href="https://www.instagram.com/pi.development/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
      </section>
      
      <section class="serv">
        <h2>Estrategias que atraen y convierten</h2>
        <h3></h3>
        <div class="card m">
          <h3>Marketing</h3>
          <p>Llega a tu público objetivo y aumenta tus ventas</p>
        </div>
        <div class="card d">
          <h3>Desarrollo Web</h3>
          <p>Obtén tu sitio web personalizados, atractivo y fácil de usar</p>
        </div>
      </section>
      <section class="intro">
        <div class="chan">
        <h1>Impulsa tu potencial online</h1>
        <p>Transforma tu potencial digital en resultados tangibles y conexiones con tu audiencia. 
          Ofrecemos experiencias web personalizadas que combinan creatividad, tecnología y experiencia.</p>
            </div>
              <div class="form-container">
                <form action="#" class="form">
                  <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" placeholder="Introduce tu nombre">
                    <label for="correo_electronico">Correo electrónico:</label>
                    <input type="email" id="correo_electronico" name="correo_electronico" placeholder="Introduce tu correo electrónico">
                  </div>
                  <button type="submit" class="form-submit-btn">Enviar</button>
                </form>
              </div>
      </section>
      <section class="serv2">
        <h2>Nuestros Servicios</h2>
            <div class="cards">
            <div class="cardi">
            <p class="tip">Desarrollo web</p>
            <p class="second-text">Sitios web personalizados</p>
            </div>
            <div class="cardi">
            <p class="tip">Search Engine Optimization</p>
            <p class="second-text">Posiciona tu sitio web en los primeros lugares</p>
            </div>
            <div class="cardi">
            <p class="tip">Contenido para redes sociales</p>
            <p class="second-text">Atrae y fideliza a tu audiencia</p>
            </div>
            <div class="cardi">
            <p class="tip">Redes sociales</p>
            <p class="second-text">Establece una presencia sólida en las redes sociales</p>
            </div>
            <div class="cardi">
            <p class="tip">Estrategias de marketing</p>
            <p class="second-text">Alcanza tus objetivos</p>
            </div>
            <div class="cardi">
            <p class="tip">Diseño gráfico</p>
            <p class="second-text">Diseños personalizados</p>
            </div>
            <div class="cardi">
            <p class="tip">Email Marketing</p>
            <p class="second-text">Comunícate con tus clientes de manera efectiva</p>
            </div>
            <div class="cardi">
            <p class="tip">Publicidad en línea</p>
            <p class="second-text">Llega a más personas</p>
            </div>
      </div>
      </section>

     
      <section class="prod">
          <div class="card">
            <div class="screen">
              <iframe src="https://junometales.com/"></iframe>
            </div>
            <h4>Juno Metales</h4>
              
              <div class="desc">
              <a class="btnn" target="_blank" href="https://junometales.com/">Go to site <i class="fa-solid fa-up-right-from-square"></i></a>
              <a class="btnn" target="_blank" href="https://github.com/Marianoyv/Juno">Browse Git</a>
            </div>
          </div>
          <div class="card">
                <div class="screen">
                  <iframe src="https://systemvesta.com/"></iframe>
                </div>
                <h4>SystemVesta</h4>
                <div class="desc">
                <a class="btnn" target="_blank" href="https://systemvesta.com/">Go to site <i class="fa-solid fa-up-right-from-square"></i></a>
              </div>
              </div>
              <div class="card">
                <div class="screen">
                  <iframe src="https://arcade-world.web.app/"></iframe>
                </div>
                <h4>Pi Development</h4>
                <div class="desc">
                <a class="btnn" target="_blank" href="https://arcade-world.web.app/">Go to site <i class="fa-solid fa-up-right-from-square"></i></a>
                <a class="btnn" target="_blank" href="https://github.com/Sebastian-E-SP/22511">Browse Git</a>
              </div>
              </div>
              <div class="card">
                <div class="screen">
                  <iframe src="https://blogintemocional.web.app/"></iframe>
                </div>
                <h4>Blog IE</h4>
                <div class="desc">
                <a class="btnn" target="_blank" href="https://blogintemocional.web.app/">Go to site <i class="fa-solid fa-up-right-from-square"></i></a>
              </div>
              </div>
              <div class="card">
                <div class="screen">
                  <iframe src="https://recetasdelsapi.web.app/"></iframe>
                </div>
                <h4>Pi Development</h4>
                <div class="desc">
                <a class="btnn" target="_blank" href="https://recetasdelsapi.web.app/">Go to site <i class="fa-solid fa-up-right-from-square"></i></a>
              </div>
              </div>
             </section>

             <section class="cli">
              <h3>Nuestros Clientes</h3>
              <div class="slider">
                  <div class="boxgone"></div>
                  <div class="slide-track">
                    <div class="slide">
                      <img src="/media/1.png" alt="">
                    </div>
                    <div class="slide">
                      <img src="/media/2.png" alt="">
                    </div>
                    <div class="slide">
                      <img src="/media/3.png" alt="">
                    </div>
                    <div class="slide">
                      <img src="/media/4.png" alt="">
                    </div>
                    <div class="slide">
                      <img src="/media/5.png" alt="">
                    </div>
                    <div class="slide">
                      <img src="/media/6.png" alt="">
                    </div>
                    <div class="slide">
                      <img src="/media/1.png" alt="">
                    </div>
                    <div class="slide">
                      <img src="/media/2.png" alt="">
                    </div>
                    <div class="slide">
                      <img src="/media/3.png" alt="">
                    </div>
                    <div class="slide">
                      <img src="/media/4.png" alt="">
                    </div>
                    <div class="slide">
                      <img src="/media/5.png" alt="">
                    </div>
                    <div class="slide">
                      <img src="/media/6.png" alt="">
                    </div>
                    
                  </div>
                  <div class="boxgtwo"></div>
                </div>
              </section>

              <h1>Servicios</h1>
              <ul>
                  {% for servicio in servicios %}
                      <li>{{ servicio.nombre }} - ${{ servicio.precio }}</li>
                  {% endfor %}
              </ul>


      <footer class="footer">
        <div class="footer-columns">
            <div class="footer-column">
                <h3>Explora</h3>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Marketing</a></li>
                    <li><a href="#">Desarrollo Web</a></li>
                    <li><a href="#">Redes Sociales</a></li>
                    <li><a href="#">Páginas Legales</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Servicios</h3>
                <ul>
                    <li><a href="#">Diseño Web</a></li>
                    <li><a href="#">SEO</a></li>
                    <li><a href="#">Gestión de Redes Sociales</a></li>
                    <li><a href="#">Marketing</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h3>Contacto</h3>
                <p>Dirección: Buenos Aires, Argentina.</p>
                <a href="mailto:">Pidev.founder@gmail.com</a>
            </div>
        </div>
        <div class="social-icons">
            <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
        </div>
    </footer>
<script src="main.js"></script>      
<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>