@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');


/* Universal marks */
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  scroll-timeline: --page-scroll block;
}

body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-wrap: balance;
    line-height: 1.6;
}
a, ul, li {
  list-style: none;
  text-decoration: none;
  color: #fff;
}
