.showcase {
  height: 100vh;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  transition: 0.5s;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  z-index: 2;
  box-shadow: inset 0 0 400px #000000;
}

.layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(24, 24, 26, 1) 100%);
}

.showcase .text {
  color: #ffffffe2;
  position: absolute;
  max-width: 1200px;
  min-height: 50vh;
  gap: 20px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  text-align: left;
  text-shadow: 11px 11px 20px #16161654;
}

.showcase .text h1 {
  font-weight: 700;
  font-size: 3em;
  letter-spacing: 0;
}

.showcase .text h2 {
  font-size: 2.1em;
  max-width: 80%;
  font-weight: 300;
}

.showcase .text .button-link {
  width: auto;
  height: auto;
  color: #000000c5;
}

ul.social {
  position: absolute;
  right: 25px;
  bottom: 25px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  z-index: 6;
  font-size: 0.8em;
  border-radius: 6px;
  color: #000000c5;
  border: none;
  box-shadow: rgba(255, 255, 255, 0.565) 0px -50px 36px -28px inset;
  transition: 0.5s ease-in-out;
  background-color: #eeeeee46;
}

ul.social:hover {
  transition: 1s ease-in-out;
}

.social li a {
  display: inline-block;
  margin: 10px;
  transition: 0.5s;
}

.fa-brands {
  font-size: 2.2em;
  color: #000000da;
  text-shadow: 0 0 20px #00000026;
}

.social li a:hover,
.fa-brands:hover {
  color: #ffffff;
  transition: 0.5s ease-in-out;
}

#fade-text {
  transition: opacity 0.5s ease-in-out;
}

@media screen and (max-width: 769px) {
  .showcase .text {
    min-height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
    text-shadow: 11px 11px 20px #00000054;
  }

  .showcase .text h1 {
    padding: 20px 32px;
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 0;
  }

  .showcase .text h2 {
    padding: 20px 32px;
    font-size: 1.4em;
    font-weight: 300;
  }

  .showcase .text .button-link {
    font-size: 0.8em;
    margin: auto;
  }

  ul.social {
    position: absolute;
    bottom: 18px;
    padding: 0;
    background: none;
    box-shadow: none;
    color: #ffffff;
  }

  .social li a {
    margin: 5px;
  }

  .fa-brands {
    font-size: 1.8em;
    color: #ffffffda;
    text-shadow: 0 0 20px #a9a9a926;
  }
}

@media screen and (max-width: 400px) {
  .showcase .text {
    height: 30vh;
    gap: 0;
  }

  .showcase .text h1 {
    font-size: 1.4em;
    padding: 10px 32px;
  }

  .showcase .text h2 {
    font-size: 1.1em;
    padding: 10px 32px;
  }

  ul.social {
    bottom: 0;
  }
}
