
.explora {
  width: 100%;
  min-height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.explora h2 {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
  font-size: 2.5em;
  font-weight: 500; 
}
section.explora div.container {
  width: 100%;
  min-height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 20px;
  gap: 20px;
}
.explora h3 {
  font-size: 1.5em;
}
.explora h4 {
  font-size: 1em;
  font-weight: 600;
}
.explora p:not(.card p) {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  font-size: 1em;
}
.explora a.card-link {
  text-decoration: none;
  color: #000000c7;
  font-weight: 400;
}
.explora button {
  width: auto;
  height: auto;
  margin: 40px auto;
  padding: 12px 20px;
  border-radius: 6px;
  color: #262626c7;
  background-color: #ffffff00;
  border: 1px solid #878787;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}
.explora button a {
  color: #393939;
}

@media screen and (max-width: 769px) {

.explora {
  padding: 40px 30px;
}
.explora h2 {
    font-size: 1.5em;
  font-weight: 500;
}

}