@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background: linear-gradient(180deg, rgba(59,112,128,1) 0%, rgba(227,181,5,1) 50%, rgba(149,25,12,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    
}


p {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
    50% {
        font-size: 150%;
        margin-left: 25%;
        width: 150%;
      }
  }


.navbar i {
    font-size: 35px;
    margin: auto 20px;
}
.navbar .container-fluid {
    overflow: hidden;
    margin: 20px 25px;
}
.navbar a {
    color: #fff;
    text-shadow: 3px 4px 6px black;
}


.resumen {
    max-width: 1200px;
    margin: auto;
}
.resumen h2 {
padding: 15px;    
    margin: 40px ;
    font-size: 55px;
    font-weight: 600;
    font-style: italic;
}


.resumen hr {
    position: relative;
    top: 127px;
    max-width: 100%;
}
.resumen h3 {
    position: relative;
    text-align: center;
    font-size: 36px;
}
.vl {
    position: absolute;
    border-left: 6px ridge #2125299c;
    border-radius: 6px;
    height: 550px;
    margin-top: 180px;
    left: 50%;
  }
  .vl:nth-child(even) {
    height: 400px;
    margin-top: 180px;
  }

  .col.odd {
    position: relative;
    top: 150px;
  }

.odd .card {
    text-align: start;
}

div.card {
    text-align: end;
    overflow: hidden;
    margin: 50px;
    padding: 30px;
    background-color: #21252915;
    border: 2px solid #21252983;
    box-shadow: 2px 4px 8px black;
    
    
}


.container.text-center:nth-child(even) {
    position: relative;
    top: 150px;
}
.card div {
    margin: 15px;
    padding: 10px;
    
}
.card i {
    font-size: 24px;
    margin: auto 7px;
}

div.card h4 {
    display: inline;
    font-weight: 600;
}





h3 {
    font-size: 32px;
    font-weight: 500;
}

.cv {
    position: relative;
    margin: 150px auto 80px ;
    color: #fff;
    text-align: center;
   
    
}

::-webkit-scrollbar {
    width: 12px;
    border-radius: 6px;
}
::-webkit-scrollbar-thumb {
    background: rgba(236, 7, 7, 0.76);
    border-radius: 6px;
}
@media (max-width: 768px) { 
    .vl {
        display: none;
    }
    .col.odd {
        position:static;
      }
      .container.text-center:nth-child(even) {
        position: static;
        margin-top: 35px;
    }
    .span {
        display: none;
    }
    .cv {
        position: static;
        margin: 30px;
        

    }
 }
