@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;       
}

.navbar {
    position: fixed;
    width: 100%;
    height: 70px;
    padding: 0 35px;
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    box-shadow: 4px 4px 4px 4px #000000;
    z-index: 5;
    
}
nav {
    max-width: 100%;
    justify-content: space-between;
    display: inline;

}

ul {
    list-style-type: none;
    
}
li {
    float: left;
}

a {
    
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #fff;
    margin: 10px 20px;
}

h2.logo {
    color: #fff;
    font-size: 32px;
    text-align: center;
}

.resumen {
    
    overflow: hidden;
    width: 100%;
    min-height: 100%;
    

}


.grid {
    display: grid;
    position: absolute;
    padding: 50px 50px 0 50px;
    z-index: 3;
    top: 80px;
    left: 0;
    width: 100%;
    grid-template-columns: 50% 50%;
    z-index: 4;
    
    
}
.resumen video#xl {
    
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    margin: auto;
    min-width: 100%;
    min-height: 100vh;
    z-index: -1;
     
}
.resumen video#sm {
    display: none;
}

.card {    
    
    background: radial-gradient(circle at 100px 100px, #4d4d4d2d, rgba(0, 0, 0, 0));
    color: #fff;
    margin: auto;    
    height: 450px;
    width: 450px;
    border-radius: 500px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5),
     inset 2px 4px 4px #fff;
    text-align: center;
    backdrop-filter: blur(5px);
    overflow: hidden;
    z-index: 1;
    display: flex;
    
    
}
.container {
    margin: auto;
}



.progress {
    width: 200px;
    height: 25px;
    border: 1px solid black;
    margin: 0 auto 20px;
    box-shadow: 1px 2px 2px rgba(17, 17, 17, 0.685);
    border-radius: 6px;
    
}
.progress-bar {
    box-shadow: inset 3px 2px 2px rgba(255, 255, 255, 0.281);
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    border-radius: 6px 0 0 6px;
}


h4 i {
    margin: 0 10px;
    font-weight: 100;
    
}

h4, i {
    margin-top: 20px;
    font-size: 20px;
    text-shadow: 1px 1px 3px rgba(17, 17, 17, 0.5);
}
h3 {
    font-size: 26px;
}

.cv {
    color: #fff;
    z-index: 1;
    text-align: center;
    margin: 30px;
    grid-column: 1 / span 2;
}

::-webkit-scrollbar {
    width: 12px;
    border-radius: 6px;
}
::-webkit-scrollbar-thumb {
    background: rgba(236, 7, 7, 0.76);
    border-radius: 6px;
}

@media only screen and (max-width: 1024px) {

    body {
        overflow: visible;
    }
     .card {
        grid-column: 1 / span 2;
        margin: 20px;
        
        
     }

     .grid {
        justify-items: center;
     }
     .resumen video#xl {
        display: none;
    }

     .resumen video#sm {
        position: fixed;
        display: block;
        background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    min-width: 100%;
    min-height: min-content;
    z-index: -1;
     }
     
}