* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
    width: 100%;
    min-width: 780px;
    line-height: 1.6;
    font-size: 1.2rem;
    color: rgb(45, 45, 45);
}

.container {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 1em;
    max-width: 1024px;
    margin: auto;
}

img {
    margin: 20px;
    width: 270px;
    height: 270px;
    border-radius: 350px;
}
div.header {
    margin: auto;
}
h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: #32AFB2;
    margin: 20px;
}
h2 {
    font-size: 2rem;
    font-weight: 600;
    color: rgb(40, 40, 40);
    margin: 20px;
}
h3 {
    font-size: 1.75rem;
    color: #32AFB2;
    margin: 20px;
}
h4 {
    font-size: 1.5rem;
    color: rgb(45, 45, 45);
    margin: 15px;
}
h5 {
    font-size: 1.25rem;
    color: rgb(70, 70, 70);
    margin: 15px;
}
p {
    font-size: 1.2rem;
    margin: 7.5px 20px;
}
ul {
    list-style: none;
    margin: 20px;
}
li {
    list-style: none;
    margin: 7px;
}
a {
    text-decoration: none;
    color: rgb(40, 40, 40);
}
aside {
    margin: 30px;
    grid-row: 2;
}
section {
    grid-row: 2;
}