@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter Tight', sans-serif;
    line-height: 1.6;
}
div.tresd {
    position: fixed;
    top: 5%;
    left: 5%;
    background-color: rgba(124, 124, 124, 0.753);
    width: 25%;
    height: 30%;
    min-height: 230px;
    border-radius: 7px;
    z-index: 3;
    box-shadow: 2px 4px 16px #000,
    inset 1px 2px 4px rgb(53, 53, 53);

    
}


ul {
    position: relative;
    top: 15%;
    left: 6%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 90%;
    transform: translateZ(20px);
    background-color: #6161614d;
    box-shadow: inset 4px 8px 18px black;
    border-radius: 7px;
   
}
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li {
    text-align: center;
    border-bottom: 1px solid #555;
    border-radius: 7px;
  }
  
  li:last-child {
    border-bottom: none;

  }
  
  li a.active {
    background-color: #2f6dc98e;
    box-shadow: inset 4px 8px 18px rgb(218, 218, 218);
    color: white;
    
  }
  
  li a:hover:not(.active) {
    background-color: rgba(85, 85, 85, 0.534);
    color: white;
    box-shadow: inset 4px 8px 18px rgb(218, 218, 218);
    
  }



        .mySlides {display: none;}
        img {
          background-size: cover;
          height: 700px;
          vertical-align: middle;
          z-index: 1;
        }
        
        /* Slideshow container */
        .slideshow-container {
          max-width: 1200px;
          position: absolute;
          margin: auto;
          top: 0;
        }
        
        /* Caption text */
        .text {
          color: #f2f2f2;
          font-size: 15px;
          padding: 8px 12px;
          position: absolute;
          z-index: 2;
          bottom: 30px;
          width: 100%;
          text-align: center;
        }
        
        /* Number text (1/3 etc) */
        .numbertext {
          color: #f2f2f2;
          font-size: 12px;
          padding: 8px 12px;
          position: absolute;
          bottom: 0;
        }
        
        /* The dots/bullets/indicators */
        .dot {
          position: relative;
          top: 650px;
          height: 15px;
          width: 15px;
          margin: 0 2px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          transition: background-color 0.6s ease;
        }
        
        .active {
          background-color: #717171;
        }
        
        /* Fading animation */
        .fade {
          animation-name: fade;
          animation-duration: 1.5s;
        }
        
        @keyframes fade {
          from {opacity: .4} 
          to {opacity: 1}
        }
        
        /* On smaller screens, decrease text size */
        @media only screen and (max-width: 300px) {
          .text {font-size: 11px}
        }

  .brand {
    position: absolute;
    max-width: 1200px;
    width: 100%;
    height: auto;
    top: 700px;
    justify-content: center;
    text-align: center;
    margin: auto;
    
	-webkit-animation: color-change-4x 6s linear infinite alternate both;
  animation: color-change-4x 6s linear infinite alternate both;

  }
  @-webkit-keyframes color-change-4x {
    0% {
      background: #2d5558;
    }
    33.3333% {
      background: #40125b;
    }
    66.666% {
      background: #561111;
    }
    100% {
      background: #4f3e07;
    }
  }
  @keyframes color-change-4x {
    0% {
      background: #2d5558;
    }
    33.3333% {
      background: #40125b;
    }
    66.666% {
      background: #561111;
    }
    100% {
      background: #4f3e07;
    }
  }
  

  .container-grid {
    display: grid;
    margin: 40px;
    text-align: center;
    gap: 25px;
    grid-template-columns: auto auto;
  }

  .container-grid h2 {
    text-align: center;
  grid-column: 1 / span 2;
}
 .brand .card { 
  margin: auto;
  min-width: 250px;
  height: 300px;
  border: 1px solid #000;
  border-radius: 6px;
  box-shadow: 2px 4px 16px #000,
  inset 1px 2px 4px rgb(53, 53, 53);
  
  filter: grayscale(50%);
  transition: 1s;
 }

 .card img {
  border-radius: 6px;
  margin: 20px;
  width: 200px;  
 }

 .card:hover {
  filter: grayscale(0%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  box-shadow: 2px 4px 16px rgb(201, 201, 201);
 }
 .card i {
  display: inline-block;
  color: red;
  font-size: 20px;
  margin: 10px 5px 10px 10px;
 }
 .card p {
  display: inline-block;
 }
        