@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.toggle
{
  box-shadow: 2px 4px 16px black;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.toggle i {
  position: absolute;
  font-size: 40px;
}
.toggle .fa-x {
  display: none;
  transition: 0.5;
}
.toggle.active .fa-x {
  display: block;
  transition: 0.5;

}

.toggle.active .fa-bars {
  display: none;
  transition: 0.5;
}
.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover
{
  color: #03a9f4; 
}
.btn {
  position: relative;
  justify-self: end;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0px;
  width: 100%;
  height: 0px;
  margin: 15px;
  padding: 20px;
  transition: 1s ease;
}
.btn:hover {
  letter-spacing: 3px;
}


.showcase
{
  position: absolute;
  top: 0px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(59,112,128,1) 50%, rgb(0, 0, 0) 100%);
  transition: 0.5s;
  z-index: 2;
}
.showcase.active {
    top: 300px;
    
}

h2 {
  width: 100%;
  margin: 40px;
  font-family: 'Nabla';
  font-size: 5em;
  line-height: 1em;
  letter-spacing: 6px;
  text-transform: uppercase;
  
}

.text {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  margin: 20px;
  gap: 40px;
  text-align: center;
  text-shadow: 2px 4px 16px black; 
}
.card { 
  margin: 40px;
  width: 300px;
  height: 320px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #21252983;
  box-shadow: 2px 4px 16px black;   
  border-radius: 6px;
  inset: 1px 2px 4px rgb(53, 53, 53);
  filter: grayscale(40%);
  z-index: 3;
  transition: 1s ease-in-out;
  border-top: none;

  
}

.card img {
position: relative;
border-radius: 3px;
width: 200px;  
}

.card:hover {
transition: 1s ease-in-out;
filter: grayscale(0%);
background-color: #212529;
color: #fff;
box-shadow: 2px 4px 16px rgb(201, 201, 201);
border-radius: 16px 6px 140px 6px;
}

.card.b:hover {
  border-radius: 16px 6px 16px 6px;
}
.card i {
display: inline-block;
color: #000000;
font-size: 20px;
margin: 10px;
text-shadow: 1px 2px 4px rgb(255, 0, 0);
}
.card .fa-github {
  color: rgba(0, 0, 0, 0);
  transition: 0.3s ease-in-out;
}
.card:hover .fa-github {
  transition: 1s;
  transition-delay: 0.7s;
  color: red;
  text-shadow: 2px 4px 16px #212529;
}


.card .out {
  transition: 1.5s ease-in;
  z-index: 1;
  position: absolute;
  bottom: -5px;
  right: -5px;
  transition-delay: 1s;
  
}
.out i {
  font-size: 36px;
  color: #212529;
  text-shadow: none;
}
.card p {
display: inline-block;
font-weight: 300;
}


.container {
  display: inline;
}



.text p {
  font-size: 1.3em;
  color: #fff;
  font-weight: 400;
  max-width: 700px;
}
.text a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}





@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    margin: 60px auto auto;
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
  


  .card { 
    background-color: #212529;
    filter: none;
  }
  
  .card img {
  position: relative;
  border-radius: 3px;
  width: 200px;  
  }
  
  .card:hover {
  filter: none;
  border-radius: 6px;
  }
  
  .card.b:hover {
    border-radius: 6px;
  }
 
  .card .fa-github {
    display: none;
  }

}


/*@media (max-width: 330px)
{

}*/ 
        