@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

*{
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
}

a, ul, li {
  list-style: none;
  text-decoration: none;
  color: #fff;
}



.fixnav {
  position: fixed;
  width: 100%;
  height: 90px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.fixnav .resposive {
  
}


.logo h2 {
  color: rgba(255, 255, 255, 0.548);
  text-transform: uppercase;
  font-size: 1.2em;
  display: block;
  float: left;
  margin: 20px;
  padding: 10px;

}
.nav {
  display: block;
  float: right;
  margin: 20px;
  padding: 10px;
}
.nav a {
  font-size: 18px;
  margin: 0 25px;
  padding: 0 10px;
  border-bottom: none;
  border-radius: 0;
  transition: 0.5s ease-in-out;
}
.nav a:hover {
  font-size: 25px;
  margin: 0 20px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.726);
  border-radius: 6px;
  transition: 0.4s ease-in-out;
}


.toggle {
  display: none;
  position: fixed;
  top: 30px;
  right: 30px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.fa-bars, .fa-bars-staggered {
  font-size: 30px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 4px 5px 5px #111;
  position: absolute;
}



.showcase {
  position: relative;
  right: 0;
  top: 0;
  max-width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
  transition: 0.5s;
  justify-content: center;
  z-index: 1;
  
  
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  mix-blend-mode: overlay;
  object-fit: cover;
  opacity: 0.85;
  z-index: -1;
}

.showcase img {
  display: none;
  z-index: -12;
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100vh;
    object-fit: cover;
    filter: brightness(50%)
}
.text {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  padding: 50px 30px;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 3px 3px 8px #111;
}
.tfirst {
  margin: 0 0 0 25px;
  font-size: 3em;
  font-weight: 700;
}
.tsecond {
  font-size: 2.5em;
  padding: 7px 20px;
}

.showcase .btn {
  position: absolute;
  bottom: 10px;
  margin: 20px auto;
  animation: bounce-top 1s both;
}
.showcase .btn a {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: font-size 1s ease-in-out;
}

.showcase .btn a:hover {
  font-size: 25px;
  transition: 1s ease-in-out;
}

.social {
  position: absolute;
  right: 0;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.social li a {
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}

.fa-brands {
    font-size: 60px;
    color: #111; 
}

.social li a:hover {
  transform: scale(1.0) translateY(-15px);
}

@keyframes bounce-top{0%{transform:translateY(-45px);animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{transform:translateY(-24px);animation-timing-function:ease-in}65%{transform:translateY(-12px);animation-timing-function:ease-in}82%{transform:translateY(-6px);animation-timing-function:ease-in}93%{transform:translateY(-4px);animation-timing-function:ease-in}25%,55%,75%,87%{transform:translateY(0);animation-timing-function:ease-out}100%{transform:translateY(0);animation-timing-function:ease-out;opacity:1}}

.btn-up {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  z-index: 10;
  transition: 0.5s;
}
.btn-up a i{
  color: #111;
  font-size: 1.4em;
}
.btn-up:hover {
  font-size: 30px;
  transition: 0.5s;
}

.me {
  position: relative;
  min-height: max-content;
  max-width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.me img {
  grid-column: 1;
  width: 60%;
  margin: 20px auto;
  height: auto;
  border-radius: 320px;
}
.me .pres {
  grid-column: 2;
  margin: 30px;
  padding: 30px;
}
.me h2 {
  margin-bottom: 25px;
}
.me p a {
  color: #111;
  font-weight: 600;
}


.portfolio {
  position: relative;
  padding: 50px;
  margin: auto;
  min-height: max-content;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f1f1f1;
background-image:  linear-gradient(30deg, rgb(220,180,103, 0.6) 12%, transparent 12.5%, transparent 87%, rgb(220,180,103, 0.6) 87.5%, rgb(220,180,103, 0.6)), 
linear-gradient(150deg, #b0b0b0cc 12%, transparent 12.5%, transparent 87%, #b0b0b0 87.5%, #b0b0b0), 
linear-gradient(30deg, rgba(220, 179, 103, 0.6) 12%, transparent 12.5%, transparent 87%, rgb(220,180,103, 0.6) 87.5%, rgb(220,180,103, 0.6)), 
linear-gradient(150deg, rgb(220,180,103, 0.6) 12%, transparent 12.5%, transparent 87%, rgb(220,180,103, 0.6) 87.5%, #b0b0b0), 
linear-gradient(60deg, #b0b0b098 25%, transparent 25.5%, transparent 75%, #b0b0b077 75%, #b0b0b077), 
linear-gradient(60deg, rgb(226,34,39, 0.6) 25%, transparent 25.5%, transparent 75%, rgb(226,34,39, 0.6) 75%, rgb(226,34,39, 0.6));
background-size: 28px 49px;
background-position: 0 0, 0 0, 14px 25px, 14px 25px, 0 0, 14px 25px;
  transition: 0.5s;
}


.portfolio h2 {
  position: relative;
  margin: 40px auto;
  padding: 30px;
  font-family: 'Dancing Script', cursive;
  font-size: 4em;
  box-shadow: 30px 40px 80px rgb(9, 9, 9),
  inset 2px 4px 20px rgb(0, 0, 0);
  border-radius: 12px;
  max-width: 100%;
  min-width: 260px;
  height: auto;
  background: rgb(220, 179, 103, 0.7);
  text-shadow: 4px 4px 8px 8px rgb(220, 179, 150, 0.5);
  color: rgb(25, 21, 12);
  
  
}

.portfolio h2:hover {
  box-shadow: 20px 30px 80px rgb(0, 0, 0),
  inset 2px 4px 20px rgb(255, 255, 255);
  text-shadow: 4px 4px 8px 8px rgba(255, 255, 255, 0.685);
  transition: 0.5s;
}
.portfolio .flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: max-content;
  gap: 10px;
}

.portfolio .card { 
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 50vh;
  justify-content: space-between;
  text-align: center;
  margin: 15px;
  box-shadow: 30px 40px 80px rgb(9, 9, 9),
  inset 2px 4px 20px rgba(77, 77, 77, 0.619);
  border-radius: 6px;
  transition: opacity 1s ease-in-out;
  color: rgb(0, 0, 0);
  font-weight: 600;
  background-color: rgba(31, 31, 31, 0.418);
}
.card .screen {
  width: 100%;
  height: 170px;
}

.portfolio .card iframe {
  position: relative;
  border-radius: 25px 25px 0 0;
  width: 286%;
  height: 350%;
  box-sizing: border-box;
  border: 0;
    -ms-transform: scale(0.35);
    -moz-transform: scale(0.35);
    -o-transform: scale(0.35);
    -webkit-transform: scale(0.35);
    transform: scale(0.35);

    -ms-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    transition: opacity 1s, transform 1s 1s;
  
}
.portfolio .card:hover iframe {
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
  transition-delay: 5s;
}
.card h4 {
 margin: 60px auto 10px auto;
  
}
.tbox {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 0 auto;
}
.card:hover .tbox {
  transform: scale(1.1) translateY(30px);
  transition: transform 1s ease-in-out;
  transition-delay: 5s;
}

.tbox p {
  display: block;
  width: auto;
  height: auto;
  color: #111;
  padding: 3px 6px;
  box-shadow: 1px 2px 3px white,
  inset 1px 2px 10px black;
  border-radius: 3px;
}

.desc {
  display: flex;
  justify-content: space-around;
  margin: auto;
}
.portfolio .card:hover .desc {
  transform: scale(1.1) translateY(-165px);
  transition: transform 1s ease-in-out;
  transition-delay: 3s;
}
.green {
  width: auto;
  height: auto;
  margin: 0 15px;
  padding: 7px;
  border-radius: 6px;
  background: green;
  box-shadow: 1px 2px 3px white,
  inset 2px 4px 20px black;
}
.orange {
  width: auto;
  height: auto;
  padding: 10px;
  border-radius: 6px;
  background: rgb(214, 66, 8);
  box-shadow: 1px 2px 3px white,
  inset 2px 4px 20px black;
}

.contact-form {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 80vh;
  padding: 30px;
  color: #fff;
}


svg {
	width: 100%;
	height: 101vh;
  z-index: -1;
  position: absolute;
}
@keyframes rotate {
  100% {
     transform: rotate(360deg)
  }
}

.top-outer {
  transform-origin: 73px 69px;
  animation: rotate 30s linear infinite;
}

.top-inner {
  transform-origin: 73px 69px;
  animation: rotate 20s linear infinite;
}

.bottom-outer {
  transform-origin: 134px 222px;
  animation: rotate 30s linear infinite;
}

.bottom-inner {
       transform-origin: 134px  222px;
       animation: rotate 20s linear infinite;
}

#contact {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.contact-form .content{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}
.contact-form .content .left-side{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px auto;
  padding: 20px;
  position: relative;
  background-color: rgba(17, 17, 17, 0.4);
  border-radius: 6px;
}

.content .left-side .details{
  margin: 14px auto;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  text-shadow: 2px 2px 8px #111;
  color: #ffffff;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}
.contact-form .content .right-side{
  width: 75%;
  padding: 20px;
  margin-left: 75px;
  background-color: rgba(17, 17, 17, 0.4);
  border-radius: 6px;
}
.content .right-side .topic-text{
  font-family: 'Dancing Script', cursive;
  font-size: 2.5em;
  font-weight: 600;
  color: rgb(255, 255, 255);
  margin: 25px auto;
}
.right-side .input-box{
  height: 50px;
  min-width: 100%;
  
  margin: 25px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 90%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
}
.right-side .message-box{
  min-height: 110px;
}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="submit"]{
  color: #fff;
  padding: 22px;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #8d8c8f74;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="submit"]:hover{
  background: #108d21;
  transition: 0.5s;
}
/*
.fold {
  width: 100%;
  min-height: max-content;
  box-shadow: inset 5px 15px 40px rgba(0, 0, 0, 0.562);
  text-align: center;
  
}
.fold h2 {
  padding: 20px;
  font-size: 2em;
}

.fold .cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-height: 70vh;
}
.fold .card {
  width: 400px;
  height: 300px;
  border: 1px solid black;
}
.fold .desing {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 500px;
  background-color: red;

}
*/


@media screen and (max-width: 768px) {

  .fixnav {
    position: fixed;
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .nav {
    display: none;
  }
  .toggle {
    float: right;
    display: block;

  }
  
  
  .logo h2 {
    color: rgba(255, 255, 255, 0.548);
    text-transform: uppercase;
    font-size: 1.2em;
    display: block;
    float: left;
    margin-left: 45px;
    padding: 10px;
  
  }

  .nav a {
    font-size: 18px;
    margin: 0 25px;
    padding: 0 10px;
    border-bottom: none;
    border-radius: 0;
    transition: 0.5s ease-in-out;
  }
   
  .showcase video, #sm {
    display: none;
  }
  .showcase img {
    display: block;
  }
  .text {
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
 
  }
  .tfirst {
    margin: 0;
  }
  .tsecond {
    font-size: 2.5em;
    padding: 7px 20px;
  }

  .text h2 {
    font-size: 3.5em;
  }
  .text h3 {
    font-size: 2.5em;
  }
  .logo {
    font-size: 20px;
  }
  .portfolio h2 {
    margin: 0;
    padding: 0;
  }

  .portfolio .card {
    width: 90%;
  }
  .me {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  }
  .me .pres {
    margin: 0;
    padding: 0;
  }
  #contact {
  max-width: 100%;
  min-height: max-content;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  }
  .contact-form{
  width: 100%;
  margin: 0;
  padding: 0;
  }
  .contact-form .content .right-side{
  width: 100%;
   margin: auto;
}
.contact-form .content {
  flex-direction: column;
  margin: auto;
  max-width: 100%;
}
.contact-form .content .left-side {
  width: 100%;
  padding: 0;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

.contact-form .content .right-side{
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
svg {
	min-width: 100%;
	min-height: 100vh;
  z-index: -1;
  position: absolute;
}
.right-side .input-box{
  margin: 10px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 90%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #f0f1f8d1;
  border-radius: 6px;
  padding: 0 15px;
}

}


@media (max-width: 400px) {
 
  .showcase img#md, .showcase video {
  display: none;
}

  .showcase img#sm {
  display: block;
}
.contact-form .content{
  flex-direction: column-reverse;
}
.contact-form .content .left-side{
 width: 100%;
 flex-direction: row;
 margin-top: 40px;
 justify-content: center;
 flex-wrap: wrap;
}
.contact-form .content .left-side::before{
 display: none;
}
.contact-form .content .right-side{
 width: 100%;
 margin-left: 0;
}
}

