@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter Tight', sans-serif;
    line-height: 1.6;
}

ul {
  list-style-type: none;
}
a {
  color: #fff;
}


div.tresd {
    cursor: pointer;
    position: fixed;
    top: 5%;
    left: 5%;
    background-color: rgba(124, 124, 124, 0.753);
    border: 1px solid #000;
    border-radius: 7px;
    box-shadow: 2px 4px 16px #000,
    inset 1px 2px 4px rgb(53, 53, 53);
    z-index: 3;
    transition: all 3s ease-in-out;
}


.tresd i {
  margin: 10px;
  position: relative;
  font-size: 25px;
}


ul#menu {
    display: none;
}
/*top: 15%;
    left: 6%;
    list-style-type: none;
    margin: 10px;
    padding: 20px;
    min-width: min-content;
    background-color: #6161614d;
    box-shadow: inset 4px 8px 18px black;
    border-radius: 7px;
    transform: perspective(1000px);
  */

  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li {
    text-align: center;
    border-bottom: 1px solid #555;
    border-radius: 7px;
  }
  
  li:last-child {
    border-bottom: none;

  }
  
  li a.active {
    background-color: #2f6dc98e;
    box-shadow: inset 4px 8px 18px rgb(218, 218, 218);
    color: white;
    
  }
  
  li a:hover:not(.active) {
    background-color: rgba(85, 85, 85, 0.534);
    color: white;
    box-shadow: inset 4px 8px 18px rgb(218, 218, 218);
    
  }


  .brand {
    width: 100%;
    height: auto;

    -webkit-animation: color-change-4x 6s linear infinite alternate both;
  animation: color-change-4x 6s linear infinite alternate both;

  }
  @-webkit-keyframes color-change-4x {
    0% {
      background: #2d5558;
    }
    33.3333% {
      background: #40125b;
    }
    66.666% {
      background: #561111;
    }
    100% {
      background: #4f3e07;
    }
  }
  @keyframes color-change-4x {
    0% {
      background: #2d5558;
    }
    33.3333% {
      background: #40125b;
    }
    66.666% {
      background: #561111;
    }
    100% {
      background: #4f3e07;
    }
  }
  

  .container-grid {
    display: grid;

    text-align: center;
    gap: 25px;
    grid-template-columns: auto auto;
  }

  .container-grid h2 {
    text-align: center;
  grid-column: 1 / span 2;
}
 .brand .card { 
  margin: auto;
  min-width: 250px;
  height: 300px;
  border: 1px solid #000;
  border-radius: 6px;
  box-shadow: 2px 4px 16px #000,
  inset 1px 2px 4px rgb(53, 53, 53);
  
  filter: grayscale(50%);
  transition: 1s;
 }

 .card img {
  border-radius: 6px;
  margin: 20px;
  width: 200px;  
 }

 .card:hover {
  filter: grayscale(0%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  box-shadow: 2px 4px 16px rgb(201, 201, 201);
 }
 .card i {
  display: inline-block;
  color: red;
  font-size: 20px;
  margin: 10px 5px 10px 10px;
 }
 .card p {
  display: inline-block;
 }
        