<section id="vanta-hero" class="showcase">
  <div class="layer"></div>
  <div class="text" id="fade-text">
    <h1>Estrategias digitales que impulsan tu marca</h1>
    <h2>Combinamos diseño, tecnología y marketing para crear soluciones reales que <b>generan impacto.</b></h2>
    <button type="button">Conocé nuestros servicios</button>
  </div>
  <ul class="social">
    <li><a href="https://github.com/Marianoyv" target="_blank" aria-label="Ir al perfil de GitHub de Pi Development"><i class="fa-brands fa-github"></i></a></li>
    <li><a href="https://www.linkedin.com/company/pi-d" target="_blank" aria-label="Ir al perfil de LinkedIn de Pi Development"><i class="fa-brands fa-linkedin"></i></a></li>
    <li><a href="https://www.instagram.com/pi.development/" target="_blank" aria-label="Ir al perfil de Instagram de Pi Development"><i class="fa-brands fa-instagram"></i></a></li>
  </ul>
</section>
