<section class="explora" id="explora">
  <h2>Explorá herramientas y proyectos</h2>
  <p>En Pi Development desarrollamos soluciones internas, herramientas y formatos publicitarios que también compartimos con el mundo.</p>
  <div class="container">
    <div class="card" style="width: 16rem; padding: 25px;">
      <div class="card-body p-2">
        <h3 class="card-title">Experimentos</h3>
        <h4 class="card-subtitle mb-2 text-body-secondary">Prototipos y pruebas de concepto</h4>
        <p class="card-text">Proyectos en desarrollo, conceptos visuales o funcionales, MVPs.</p>
      </div>
    </div>
    <div class="card" style="width: 16rem; padding: 25px;">
      <div class="card-body p-2">
        <h3 class="card-title">Creativos</h3>
        <h4 class="card-subtitle mb-2 text-body-secondary">Formatos interactivos y medibles</h4>
        <p class="card-text">Formatos publicitarios personalizados, dinámicos y medibles.</p>
      </div>
    </div>
    <div class="card" style="width: 16rem; padding: 25px;">
      <div class="card-body p-2">
        <h3 class="card-title">Auditor</h3>
        <h4 class="card-subtitle mb-2 text-body-secondary">Análisis estructurado y estratégico</h4>
        <p class="card-text">Plantillas y metodologías para revisar estrategia, UX y contenido.</p>
      </div>
    </div>
    <div class="card" style="width: 16rem; padding: 25px;">
      <div class="card-body p-2">
        <h3 class="card-title">Tools</h3>
        <h4 class="card-subtitle mb-2 text-body-secondary">Utilidades para equipos digitales</h4>
        <p class="card-text">Herramientas simples y útiles para marketing, diseño y desarrollo.</p>
      </div>
    </div>
  </div>
  <button><a href="#explora">Ver todos los recursos</a></button>
</section>
