{% extends 'web/base.html' %}
{% load static %}
{% block title %}Herramientas AdTech, QA de creatividades y diagnostico web | Pi Development{% endblock %}
{% block og_title %}Herramientas AdTech, QA de creatividades y diagnostico web | Pi Development{% endblock %}
{% block twitter_title %}Herramientas AdTech, QA de creatividades y diagnostico web | Pi Development{% endblock %}
{% block meta_description %}Pi Development reune herramientas para analisis AdTech, validacion de creatividades, diagnostico tecnico web, URLs con UTM y automatizacion operativa.{% endblock %}
{% block og_description %}Suite tecnica para analizar, validar y optimizar URLs, creatividades, monetizacion visible y flujos operativos.{% endblock %}
{% block twitter_description %}Suite tecnica para analizar, validar y optimizar URLs, creatividades, monetizacion visible y flujos operativos.{% endblock %}
{% block meta_keywords %}herramientas AdTech, validacion de creatividades, diagnostico tecnico web, QA publicitario, generador UTM{% endblock %}
{% block body_class %}home-page{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'web/css/hero.css' %}">
<link rel="stylesheet" href="{% static 'web/css/servicios.css' %}">
<link rel="stylesheet" href="{% static 'web/css/portfolio.css' %}">
<link rel="stylesheet" href="{% static 'web/css/proceso.css' %}">
<link rel="stylesheet" href="{% static 'web/css/herramientas.css' %}">
<link rel="stylesheet" href="{% static 'web/css/nosotros.css' %}">
<link rel="stylesheet" href="{% static 'web/css/contacto.css' %}">
{% endblock %}
{% block content %}
{% include 'web/components/navbar.html' %}
<main>
  {% include 'web/hero.html' %}
  {% include 'web/servicios.html' %}
  {% include 'web/portfolio.html' %}
  {% include 'web/proceso.html' %}
  {% include 'web/herramientas.html' %}
  {% include 'web/nosotros.html' %}
  {% include 'web/contacto.html' %}
</main>
{% include 'web/components/footer.html' %}
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@0.5.24/dist/vanta.globe.min.js" crossorigin="anonymous"></script>
<script src="{% static 'web/js/main.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
{% endblock %}
