{% extends 'web/base.html' %}
{% load static %}
{% block title %}Soluciones digitales personalizadas para tu empresa{% endblock %}
{% block head %}
<meta name="description" content="Creamos estrategias digitales que impactan, atraen y convierten.">
<link rel="canonical" href="https://pidevelopment.web.app">
<meta name="author" content="PIDev Founder: Mariano Tami">
<meta name="keywords" content="estrategias digitales, marketing digital, soluciones digitales, PI Development">
<meta name="robots" content="index, follow">
<meta property="og:title" content="Soluciones digitales personalizadas para tu empresa">
<meta property="og:description" content="Creamos estrategias digitales que impactan, atraen y convierten.">
<meta property="og:image" content="{% static 'web/img/pi.ico' %}">
<meta property="og:url" content="https://pidevelopment.web.app">
<meta property="og:type" content="website">
<meta property="og:site_name" content="PI Development">
<meta property="og:locale" content="es_AR">
<link rel="stylesheet" href="{% static 'web/css/index.css' %}">
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8341459305954792" crossorigin="anonymous"></script>
<script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/9b7863877e7b1572545a6deb3/9fc65f4503e80b0f5f89ce76d.js");</script>
{% endblock %}
{% block content %}

<section class="showcase" id="up">
  <video class="port" src="{% static 'web/img/deep.mp4' %}" playsinline muted autoplay loop></video>
  <div class="text" id="fade-text">
    <h1>Estrategias digitales que impulsan tu marca</h1>
    <h2>Combinamos diseño, tecnología y marketing para crear soluciones reales que <b>generan impacto.</b></h2>
      <button type="button">Conocé nuestros servicios</button>
  </div>
  <ul class="social">
    <li><a href="https://github.com/Marianoyv" target="_blank"><i class="fa-brands fa-github"></i></a></li>
    <li><a href="https://www.linkedin.com/company/pi-d" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
    <li><a href="https://www.instagram.com/pi.development/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
  </ul>
</section>
<section class="serv">
  <h3>Servicios digitales alineados con tus objetivos</h3>
  <p>Desarrollamos soluciones digitales pensadas para mejorar tu presencia online, optimizar procesos y potenciar resultados reales.</p>
<div class="cards">
  <div class="card">
    <h4>Desarrollo web a medida</h4>
    <p>Sitios rápidos, escalables y visuales. Desde landings hasta plataformas completas con estructura pensada para crecer.</p>
  </div>
  <div class="card">
    <h4>Diseño UX/UI estratégico</h4>
    <p>Interfaces intuitivas que mejoran la experiencia del usuario y refuerzan tu marca.</p>
  </div>
    <div class="card">
    <h4>Contenido, redes y marketing digital</h4>
    <p>Creamos y ejecutamos campañas que conectan con tu audiencia en los canales correctos.</p>
  </div>
    <div class="card">
    <h4>Auditorías y posicionamiento SEO</h4>
    <p>Analizamos tu presencia digital, detectamos oportunidades y mejoramos tu visibilidad en buscadores.</p>
  </div>
  </div>
  <button type="button">Como trabajamos</button>
</section>
<section class="portfolio-section">
  <div class="portfolio-text">
    <h6>Proyectos que combinan estrategia, diseño y resultados</h6>
    <p>Creamos soluciones reales para marcas que apuestan a crecer.</p>
  </div>
</section>

<section id="proceso" class="proceso-section">
  <h5>Procesos claros para llegar más lejos</h5>
  <p>En <a href="https://pidevelopment.web.app/">Pi Development</a> trabajamos con una estructura flexible, pero con intención. Cada etapa está pensada para generar resultados reales, sin rodeos.</p>         
  <div class="container proceso-container">
  <div class="proceso-step">
<h6>Entendemos</h6>
<p>Hablamos, preguntamos, analizamos. No arrancamos hasta tener claridad sobre tus objetivos.</p>
  </div>
  <div class="proceso-step">
<h6>Diseñamos</h6>
<p>No ofrecemos plantillas. Diseñamos estructuras visuales y funcionales a medida de lo que necesitás.</p>
  </div>
  <div class="proceso-step">
<h6>Ejecutamos</h6>
<p>Desarrollamos rápido, con intención y validación constante. Menos burocracia, más impacto.</p>
  </div>
  <div class="proceso-step">
<h6>Medimos</h6>
<p>Lanzar no es el final. Revisamos, analizamos y optimizamos para que escales con datos reales.</p>
  </div>
  </div>
  <button type="button">Hablemos de proyectos</button>
</section>

<section class="explora">
  <h2>Explorá herramientas y proyectos</h2>
  <p>En Pi Development desarrollamos soluciones internas, herramientas y formatos publicitarios que también compartimos con el mundo.</p> 
<div class="container">
  <div class="card" style="width: 16rem;">
  <div class="card-body">
    <h5 class="card-title">Experimentos</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
    <p class="card-text">Proyectos en desarrollo, conceptos visuales o funcionales, MVPs.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

<div class="card" style="width: 16rem;">
  <div class="card-body">
    <h5 class="card-title">Creativos</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
    <p class="card-text">Formatos publicitarios personalizados, dinámicos y medibles.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
<div class="card" style="width: 16rem;">
  <div class="card-body">
    <h5 class="card-title">Auditor</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
    <p class="card-text">Plantillas y metodologías para revisar estrategia, UX y contenido.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
<div class="card" style="width: 16rem;">
  <div class="card-body">
    <h5 class="card-title">Tools</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
    <p class="card-text">Herramientas simples y útiles para marketing, diseño y desarrollo.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
</div>
<button><a href="#explora">Ver todos los recursos</a></button>
</section>

<section class="nosotros">
<h1>Quiénes somos?</h1>
<h2>Un estudio independiente con visión integral</h2>
<p>En Pi Development combinamos estrategia, diseño y tecnología para resolver necesidades reales.
Ayudamos a marcas a crecer online con soluciones claras, eficientes y bien hechas.</p>
<div class="values">
  <div class="value">
    <h3>Enfoque estratégico</h3>
    <p>Cada proyecto parte de un análisis real, no de suposiciones.</p>
  </div>
    <div class="value">
    <h3>Desarrollo con intención</h3>
    <p>Lo que hacemos funciona, escala y está pensado para durar.</p>
  </div>
    <div class="value">
    <h3>Diseño con propósito</h3>
    <p>Interfaces y experiencias que respetan tu marca y tu audiencia.</p>
  </div>
    <div class="value">
    <h3>Colaboración real</h3>
    <p>Trabajamos con vos, no para vos. Somos parte de tu equipo.</p>
  </div>
</div>
<button>Conocé más sobre nuestra visión</button>
</section>

<section class="intro">
  <div class="chan">
    <h1>Empezamos?</h1>
    <p>Transforma tu potencial digital en resultados tangibles y conexiones con tu audiencia.</p>
  </div>
  <div class="form-container">
    <form action="#" class="form">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" placeholder="Introduce tu nombre">
        <label for="correo_electronico">Correo electrónico:</label>
        <input type="email" id="correo_electronico" name="correo_electronico" placeholder="Introduce tu correo electrónico">
      </div>
      <button type="submit" class="form-submit-btn">Enviar</button>
    </form>
  </div>
</section>
{% endblock %}

{% block scripts %}
<script src="{% static 'web/js/main.js' %}"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
{% endblock %}
