{% load static %}
<section class="rellax-section" id="portfolio">
  <h5 class="central-text">Proyectos que combinan estrategia, diseño y resultados</h5>
  <div class="layer"></div>
  <div class="rellax card-proyecto" data-rellax-speed="-3" style="top: 25%; left: 5%;">
    <img src="{% static 'web/img/1.png' %}" alt="Sitio web de Arcade World">
  </div>
  <div class="rellax card-proyecto" data-rellax-speed="1" style="top: 25%; left: 40%;">
    <img src="{% static 'web/img/2.png' %}" alt="Sitio web de Blog de Inteligencia Emocional">
  </div>
  <div class="rellax card-proyecto" data-rellax-speed="-3" style="top: 50%; left: 20%;">
    <img src="{% static 'web/img/3.png' %}" alt="Sitio web de Blog de Inteligencia Emocional">
  </div>
  <div class="rellax card-proyecto" data-rellax-speed="-4" style="top: 55%; left: 60%;">
    <img src="{% static 'web/img/4.png' %}" alt="Sitio web de Sistem Vesta (seguridad informática)">
  </div>
  <div class="rellax card-proyecto" data-rellax-speed="-2" style="top: 25%; left: 75%;">
    <img src="{% static 'web/img/5.png' %}" alt="Sitio web de Juno Metales">
  </div>
</section>
