{% load static %}
<footer class="footer">
  <div class="footer-columns">
    <div class="footer-column">
      <h3>Explora</h3>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Marketing</a></li>
        <li><a href="#">Desarrollo Web</a></li>
        <li><a href="#">Redes Sociales</a></li>
        <li><a href="#">Páginas Legales</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Servicios</h3>
      <ul>
        <li><a href="#">Diseño Web</a></li>
        <li><a href="#">SEO</a></li>
        <li><a href="#">Gestión de Redes Sociales</a></li>
        <li><a href="#">Marketing</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h3>Contacto</h3>
      <p>Dirección: Buenos Aires, Argentina.</p>
      <a href="mailto:pidev.founder@gmail.com">pidev.founder@gmail.com</a>
    </div>
  </div>
  <div class="social-icons">
    <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
    <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
    <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
  </div>
</footer>